<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>Nintendo Switch</title>
</head>
<body>
    <header>
        <h1 class="hidden">Nintendo Switch</h1>
        <img src="images/logo.svg">
    </header>
    <div id="banner">
        
        <img src="images/three-modes-in-one.png">
    <div id="bannerDescript">
        <h2>Three modes in one</h2>
        <p>Nintendo Switch is designed to fit your life, transforming from home console to portable system in a snap.</p>
    </div>
    </div>

    <div id="mainContent">
        <div class="mainContent">
            <div class="contentTitle">
                <img src="images/tv.png">
                
            </div>
            <p>Dock your Nintendo Switch to enjoy HD gaming on your TV.</p>
            <img class="modes" src="images/mode-1.jpg" alt="tv">
        </div>
        <div class="mainContent">
            <div class="contentTitle">
                    <img src="images/tabletop.png">
            </div>
            <p>Flip the stand to share the screen, then share the fun with a multiplayer game.</p>
            <img class="modes" src="images/mode-2.jpg" alt="tabletop">
        </div>
        <div class="mainContent">
            <div class="contentTitle">
                <img src="images/handheld.png">
            </div>
            <p>Pick it up and play with the Joy‑Con™ controllers attached.</p>
            <img class="modes" src="images/mode-3.jpg" alt="handheld">
        </div>
    </div>

    <footer>
        <a href="#">BACK TO TOP</a>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>